# Requirements needed to run the bot.
discord.py>=1.5.1
asyncpg>=0.20.1
aiohttp>=3.6.0
babel>=2.8.0
uvloop>=0.14.0; sys_platform=="linux"
psutil>=5.7.2

# Requirements for development, tools and debugging.
click>=7.1.1
pytest>=5.4.3
pytest-asyncio>=0.14.0

# Requirements needed to generate the documentation files.
sphinx>=3.1.2
sphinx_rtd_theme>=0.5.0
sphinxcontrib_trio>=1.1.2
